*{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}
.contactos{
    width: 100%;
    justify-items: center;
    margin-left: 5px;
    padding-top: 5px;
}
.contenedor_contactos{
    width: 100%;
    height: 500px;
    border: 2px black solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.titulo_contactos{
    height: 50px;
    color: black;
    font-size: 32px;
    margin-top: 25px;
}

.formulario_contactos{
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    border: 2px black solid;
    margin-top: 20px;
    margin-bottom: 50px;
    gap:30px
}
.formulario_contactos input{
    width: 300px;
    font-size: 16px;
    margin-top: 40px;
}
.formulario_contactos select{
    width: 300px;
    font-size: 16px;
}
.formulario_contactos h2{
    width: 80px;
    font-size:12px;
    margin-top:-12px;
    margin-left:-300px;
    background:white;
} 
