footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: white;
    border: 2px black solid;
}

footer p{
    color: black;
}